In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time
import requests

In [2]:
df = pd.read_excel(r'Data_Set_Final_LTD_Slope_Intercept.xlsx')
df.head()

,FIPS_code,County,State,Lung Cancer,PM2.5,Status Variable,Land_EQI,Sociod_EQI,Built_EQI,LTD,...,Status,LCI,UCI,Inter,Slp,control,treat,Local_Treat,AAC,RT
0,1001,Autauga,AL,73.9,12.06,1,-0.706591,0.670436,-0.497301,4.79,...,2,64.3,84.6,42.94,2.60,68.6143,73.4043,4.7900,44,stable
1,1003,Baldwin,AL,68.4,11.12,1,-1.084299,0.553073,0.401585,3.68,...,2,63.9,73.1,40.54,2.76,66.0568,69.7357,3.6789,181,stable
2,1005,Barbour,AL,76.1,12.36,1,-1.281470,-1.236294,0.048854,0.87,...,2,63.3,90.9,77.48,-0.11,75.7286,76.6000,0.8714,26,stable
3,1007,Bibb Cou,AL,86.4,12.24,1,-0.827410,-0.600018,-1.290857,19.95,...,2,71.2,104.1,-6.00,7.64,65.9182,85.8692,19.9510,23,stable
4,1009,Blount C,AL,73.1,12.97,1,-0.622934,0.296509,-1.262740,19.95,...,2,64.5,82.6,37.83,3.36,69.9500,76.9564,7.0064,54,stable

In [3]:
df.drop(columns=['FIPS_code','Status Variable'])

,County,State,Lung Cancer,PM2.5,Land_EQI,Sociod_EQI,Built_EQI,LTD,Intercept,Slope,...,Status,LCI,UCI,Inter,Slp,control,treat,Local_Treat,AAC,RT
0,Autauga,AL,73.9,12.06,-0.706591,0.670436,-0.497301,4.79,42.94,2.60,...,2,64.3,84.6,42.94,2.60,68.6143,73.4043,4.7900,44,stable
1,Baldwin,AL,68.4,11.12,-1.084299,0.553073,0.401585,3.68,40.54,2.76,...,2,63.9,73.1,40.54,2.76,66.0568,69.7357,3.6789,181,stable
2,Barbour,AL,76.1,12.36,-1.281470,-1.236294,0.048854,0.87,77.48,-0.11,...,2,63.3,90.9,77.48,-0.11,75.7286,76.6000,0.8714,26,stable
3,Bibb Cou,AL,86.4,12.24,-0.827410,-0.600018,-1.290857,19.95,-6.00,7.64,...,2,71.2,104.1,-6.00,7.64,65.9182,85.8692,19.9510,23,stable
4,Blount C,AL,73.1,12.97,-0.622934,0.296509,-1.262740,19.95,37.83,3.36,...,2,64.5,82.6,37.83,3.36,69.9500,76.9564,7.0064,54,stable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2597,Sweetwat,WY,45.3,6.40,0.329106,0.832869,1.309324,5.31,41.01,1.62,...,1,35.4,57.0,NaN,NaN,NaN,NaN,NaN,16,stable
2598,Teton Co,WY,22.6,6.67,0.316508,1.812128,2.418939,1.14,26.57,1.47,...,1,14.1,34.4,NaN,NaN,NaN,NaN,NaN,5,stable
2599,Uinta Co,WY,37.1,6.57,0.253324,0.715908,1.134188,10.86,35.80,2.37,...,1,25.2,52.5,NaN,NaN,NaN,NaN,NaN,7,stable
2600,Washakie,WY,51.1,6.33,0.151024,-0.067995,0.728454,10.52,34.90,3.30,...,1,35.1,73.3,NaN,NaN,NaN,NaN,NaN,7,stable
2601,Weston C,WY,46.4,5.24,0.297553,0.043923,0.637936,10.52,34.90,3.30,...,1,29.5,70.8,NaN,NaN,NaN,NaN,NaN,5,stable

In [4]:
pollutant_df = df.drop(columns=['FIPS_code', 'County', 'State', 'Intercept', 'Slope', 'control', 'treat', 'Local_Treat', 'RT', 'LCI', 'UCI', 'Status Variable', 'Slp', 'Inter', 'Status', 'LTD', 'CLU50_1', 'CO'])
pollutant_df.head()

,Lung Cancer,PM2.5,Land_EQI,Sociod_EQI,Built_EQI,PM10,SO2,NO2,O3,CN,Disel,CS2,Air_EQI,Water_EQI,EQI,AAC
0,73.9,12.06,-0.706591,0.670436,-0.497301,15.07,10.661088,123.657648,522.38,0.054815,0.388556,0.008080,0.955385,-1.109728,0.00,44
1,68.4,11.12,-1.084299,0.553073,0.401585,19.99,17.146847,247.742253,540.79,0.021069,0.428278,0.001090,0.717964,-0.565911,0.20,181
2,76.1,12.36,-1.281470,-1.236294,0.048854,15.77,23.257118,183.193624,896.42,0.014027,0.199725,0.000513,0.131007,-0.978090,-0.95,26
3,86.4,12.24,-0.827410,-0.600018,-1.290857,14.92,7.630953,127.779935,563.48,0.009613,0.211741,0.000225,0.065289,-0.968173,-1.09,23
4,73.1,12.97,-0.622934,0.296509,-1.262740,17.90,8.913795,95.198094,561.94,0.022128,0.300100,0.000429,0.402194,-0.718645,-0.51,54

In [5]:
#geolocator = Nominatim(user_agent="my_geocoding_app_v1.0")


#def get_lat_long(county, state, retries=3):
#    for attempt in range(retries):
#        try:
#            location = geolocator.geocode(f"{county}, {state}", timeout=5)
#            if location:
#                return location.latitude, location.longitude
#            else:
#                return None, None
#        except (GeocoderTimedOut, GeocoderInsufficientPrivileges) as e:
#            print(f"Attempt {attempt + 1} failed for {county}, {state}: {e}")
#            if attempt < retries - 1:
#                time.sleep(1)  # Wait a bit before retrying
#            else:
#                return None, None

#def batch_geocode(df, batch_size=2):
# #   """Process the DataFrame in batches."""
#    lat_long_list = []

#    # Process DataFrame in batches
#    for i in range(0, len(df), batch_size):
#        batch = df.iloc[i:i + batch_size]
#        for index, row in batch.iterrows():
#            lat, long = get_lat_long(row['County'], row['State'])
#            lat_long_list.append((lat, long))
#            time.sleep(1)  # Delay to avoid hitting rate limits

#    return lat_long_list

# Get latitude and longitude in batches
#lat_long_results = batch_geocode(df)

# Assign results to new DataFrame columns
#df[['Latitude', 'Longitude']] = pd.DataFrame(lat_long_results, index=df.index)

# Display the DataFrame with latitude and longitude
#print(df)

In [6]:
#output_file = "county_lat_long_data.csv"
#df.to_csv(output_file, index=False)

In [7]:
pollutants = ['CN', 'CO', 'CS2', 'NO2', 'O3', 'SO2']

In [8]:
max_pollutant = df[pollutants] = df[pollutants].apply(pd.to_numeric, errors='coerce')

In [9]:
max_pollutant['Highest Pollutant Value'] = df[pollutants].max(axis=1)

In [10]:
max_pollutant['Highest Pollutant'] = df[pollutants].idxmax(axis=1)
max_pollutant['County'] = df['County']

In [11]:
result = max_pollutant[['County', 'Highest Pollutant', 'Highest Pollutant Value']]
print(result)

        County Highest Pollutant  Highest Pollutant Value
0      Autauga                O3               522.380000
1      Baldwin                O3               540.790000
2      Barbour                O3               896.420000
3     Bibb Cou                O3               563.480000
4     Blount C                O3               561.940000
...        ...               ...                      ...
2597  Sweetwat                O3              1703.310000
2598  Teton Co                CO              3754.236317
2599  Uinta Co                O3              3467.050000
2600  Washakie                O3              2819.260000
2601  Weston C                O3              5283.840000

[2602 rows x 3 columns]

In [12]:
output_file = "pollutant.csv"
result.to_csv(output_file, index=False)

In [13]:
parts_per_mil = ['PM10', 'PM2.5']
max_pm = df[parts_per_mil] = df[parts_per_mil].apply(pd.to_numeric, errors='coerce')
max_pm['Highest Parts Per Million Value'] = df[parts_per_mil].max(axis=1)
max_pm['Highest Parts Per Million'] = df[parts_per_mil].idxmax(axis=1)
max_pm['County'] = df['County']

In [14]:
result2 = max_pm[['County', 'Highest Parts Per Million Value', 'Highest Parts Per Million']]
print(result2)

        County  Highest Parts Per Million Value Highest Parts Per Million
0      Autauga                            15.07                      PM10
1      Baldwin                            19.99                      PM10
2      Barbour                            15.77                      PM10
3     Bibb Cou                            14.92                      PM10
4     Blount C                            17.90                      PM10
...        ...                              ...                       ...
2597  Sweetwat                            11.26                      PM10
2598  Teton Co                            10.40                      PM10
2599  Uinta Co                             8.35                      PM10
2600  Washakie                             7.21                      PM10
2601  Weston C                             5.24                     PM2.5

[2602 rows x 3 columns]

In [15]:
output_file = 'Parts_per_mil.csv'
result2.to_csv(output_file, index=False)

In [16]:
eqi = ['Land_EQI', 'Sociod_EQI', 'Built_EQI', 'Air_EQI', 'Water_EQI']
max_eqi = max_eqi[eqi] = df[eqi].apply(pd.to_numeric, errors='coerce')
max_eqi['Highest EQI Values'] = df[eqi].max(axis=1)
max_eqi['Highest EQI'] = df[eqi].idxmax(axis=1)
max_eqi['County'] = df['County']

In [17]:
result3 = max_eqi[['County', 'Highest EQI Values', 'Highest EQI']]
result3.head()

     County  Highest EQI Values Highest EQI
0   Autauga            0.955385     Air_EQI
1   Baldwin            0.717964     Air_EQI
2   Barbour            0.131007     Air_EQI
3  Bibb Cou            0.065289     Air_EQI
4  Blount C            0.402194     Air_EQI

In [18]:
output_file = 'EQI.csv'
result3.to_csv(output_file, index=False)

In [19]:
pollutant_df.head()

,Lung Cancer,PM2.5,Land_EQI,Sociod_EQI,Built_EQI,PM10,SO2,NO2,O3,CN,Disel,CS2,Air_EQI,Water_EQI,EQI,AAC
0,73.9,12.06,-0.706591,0.670436,-0.497301,15.07,10.661088,123.657648,522.38,0.054815,0.388556,0.008080,0.955385,-1.109728,0.00,44
1,68.4,11.12,-1.084299,0.553073,0.401585,19.99,17.146847,247.742253,540.79,0.021069,0.428278,0.001090,0.717964,-0.565911,0.20,181
2,76.1,12.36,-1.281470,-1.236294,0.048854,15.77,23.257118,183.193624,896.42,0.014027,0.199725,0.000513,0.131007,-0.978090,-0.95,26
3,86.4,12.24,-0.827410,-0.600018,-1.290857,14.92,7.630953,127.779935,563.48,0.009613,0.211741,0.000225,0.065289,-0.968173,-1.09,23
4,73.1,12.97,-0.622934,0.296509,-1.262740,17.90,8.913795,95.198094,561.94,0.022128,0.300100,0.000429,0.402194,-0.718645,-0.51,54